body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* header start ----------------------------------- */
header{
    background-color: rgb(50, 50, 185);
    height: 100px;
    padding-left: 100px;
    padding-top: 15px;
}
ul li:hover a{
    background-image: linear-gradient(white,red);
}
ul{
    display: flex;
    align-items: center;
   
}
ul li{
    list-style-type: none;
    margin: 20px;
}
ul li a{
    text-decoration: none;
    color: white;   
}

.login{
    display: flex;
    background-color: rgb(177, 37, 37);
    /* padding: 5px 18px; */
    height: 40px;
    align-items: center;
    margin-left: 350px;
}
.login-logo{
    width: 30px;
    height: 20px;
}
/* main start----------------------------------  */
main,footer{
    background-color: white;
}
.container{
    background-color: rgb(50, 50, 185);
    display: flex;
    padding-top: 50px;
}
.world-cup{
    padding-left: 150px;
}
.cup-title{
    font-size: 60px;
    color: white;
    width: 50%;

}
.watch-button{
    color: white;
    text-decoration: none;
    background-color: rgb(177, 37, 37);
    padding: 15px 30px;
}
.banner{
    width: 500px;
    height: 440px;
    padding-right: 150px;
}   
/* playres----------------------------- */
.players{
    display: grid;
    grid-template-columns: repeat(3,275px);
    grid-column-gap: 120px;
    grid-row-gap: 30px;
    justify-content: center;
    padding-top: 60px;
}
.plyare{
    width: 350px;
    height: 500px;
    background-color: rgb(245, 239, 239);
    padding-left: 15px;
    text-justify:newspaper;
    
}
.playres-img{
 width: 330px;   
 height: 300px;
 padding-top:12px ;
}
/* match start------------------------------ */
.matches{
    display: flex;
    margin-top:120px ;
}
.match-detail{
    width: 40%;
    margin-left: 160px;
}
.thumbnel img {
    width: 450px;
    height: 375px;
    /* width: 40%; */
}
.match-title{
    font-size: 45px;
    color: black;
}
.highlight{
    margin-top: 45px;
}
/* footer start-----------------------------  */
.football-logo img{
    width: 470px;
    height: 88px;
    margin-top: 180px;
    margin-left: 475px;

}
.social-icon img{
    height: 35px;
    width: 35px;
    margin: 10px
}
.social-icon{
    margin-top: 30px;
    margin-left: 600px;
}
.copy-right{
    font-size: 25px;
    text-align: center;
}
/* start media quarey------------------ */
/* for mobile device------------- */
@media only screen and (max-width:668px) {
    .container, .players, .matches {
        /* background-color: blueviolet; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}
/* for teblet device------------- */
@media only screen and (min-width:668px) and (max-width:992px) {
    .players{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    footer{
        /* display: flex; */
        justify-content: center;
    }
}